/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.maven-pro-nav {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input-field {
  @apply border border-gray-300 rounded-lg p-3 w-full  transition-all duration-300;
}

.input-field:focus {
  @apply focus:outline-dashed focus:outline-gray-400 focus:border-transparent placeholder:invisible;
}

.labelAppearance {
  @apply absolute text-sm  text-gray-500 transition-all ease-in duration-200 pointer-events-none;
  top: 20%;
  left: 7%;
  transform: translateY(-50%);
  opacity: 0;
}

.input-field:focus + .labelAppearance,
.input-field:not(:placeholder-shown) + .labelAppearance {
  @apply left-4 top-[0px] opacity-100 bg-white z-10 pl-[3px] pr-[3px] pb-[3px];
}

/* //navbar css */
.nav-container {
  z-index: 1000;
}

#container {
  z-index: 10;
}
